table {
	border: 1px solid grey;
	width: 90%;
}
th {
	border: 1px solid grey;
	color: coral;
}
td {
	border: 1px solid grey;
	padding: 11px;
}
body {
	background-color: LightYellow;
	opacity: 0.8;
	font: 15px Arial, sans-serif;
}
button {
	background-color: #12A0ED;
  	border: 3px solid #0B0974;
  	color: white;
  	padding:2px 16px;
  	text-align: center;
  	font-size: 14px;
  	margin: 5px 5px;
}

.left {
	float: left;
	width: 75%;
}

.right {
	float: right;
	width: 25%;
}