table {
	border: 1px solid grey;
	width: 90%;
}
th {
	border: 1px solid grey;
	color: coral;
}
td {
	border: 1px solid grey;
	padding: 11px;
}
body {
	font: 16px Arial, sans-serif;
	background-color: LightYellow;
	background-image: url("https://cr.grsu.by/images/vospitanie/6286_5.jpg");
	background-blend-mode: darken;
	background-repeat: repeat;
	opacity: 0.95;
}
button {
	background-color: #12A0ED;
  	border: 3px solid #0B0974;
  	color: white;
  	padding:2px 16px;
  	text-align: center;
  	font-size: 14px;
  	margin: 5px 5px;
}
button:hover {
	background-color: black;
}
a:link {
	color: red;
}
a:hover {
	color: white;
	background-color: navy;
}
a.visited {
	color: orange;
}
.edition {
	position: fixed; top: 40%; left: 40%;
}

.left {
	float: left;
	width: 75%;
}
.right {
	float: right;
	width: 25%;
}