table {
	border: 1px solid grey;
}
th {
	border: 1px solid grey;
	color: coral;
}
td {
	border: 1px solid grey;
}
	button.sorting {
	border: 3px solid transparent; 
	border-top: 8px solid Navy;
	}
body {
	background-color: LightYellow;
	opacity: 0.8;
	font: 15px Arial, sans-serif;
}